 html {
  height: 100%;
  width: 100%;
  max-width: 50%;
}
body {
  background-color: #141414;
}
.names {
  font-family: Tourney;
}

#header1 {
  position: fixed;
  background-color: #262626;
  width: 100%;
  height: 100px;
  top: 1px;
  right: 2px;
  z-index: 1;
  opacity: 100%;
}
#headertitle {
  position: fixed;
  right: 1150px;
  bottom: 550px;
  font-size: 50px;
  background-image: linear-gradient(45deg, #ff00ea, #ff0026);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
#pgtitle {
  position: relative;
  top: 100px;
  left: 75px;
  font-size: 150px;
  /*text-overflow: hidden;*/
  font-family: Damion;
  background-image: linear-gradient(45deg, #ff00ea, #ff0026);
  background-size: 75%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#pgtitle2 {
  position: relative;
  bottom: 36px;
  left: 75px;
  font-size: 45px;
  /*text-overflow: hidden;*/
  font-family: Tourney;
  background-image: linear-gradient(45deg, #ff00ea, #ff0026);
  background-size: 75%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#desc1 {
  font-family: Audiowide;
  font-size: 45px;
  background-image: linear-gradient(45deg, #ff4000, #ffc800);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 550px;
  bottom: 250px;
}
#desc2 {
  font-family: Tilt Neon;
  font-size: 30px;
  background-image: linear-gradient(45deg, #ff4000, #ffc800);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 500px;
  bottom: 250px;
}
#projects {
  font-family: Damion;
  font-size: 100px;
  background-image: linear-gradient(45deg, #ff4000, #ffc800);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 520px;
  bottom: 100px;
}
.projectboxes {
  background-color: #262626;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #121212;
  height: 150px;
  width: 550px;
  position: relative;
  top: 50%;
  left: 93%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
  display: block;
}
.projecttitles {
  font-family: Tilt Neon;
  background-image: linear-gradient(45deg, #ff4000, #ffc800);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
}
.projectdesc {
  font-family: Tilt Neon;
  font-size: 25px;
  background-image: linear-gradient(45deg, #ff4000, #ffc800);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  transition-duuration: 0.4s;
}
.projectboxes:hover {
  background-color: #303030;
  letter-spacing: 1px;
}
.projectboxes:active {
  background-color: #303030;
}

/*#rctesting {
  font-size: 30px;
}*/
#contact {
  font-family: Damion;
  font-size: 100px;
  background-image: linear-gradient(45deg, #ff4000, #ffc800);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 460px;
  bottom: 100px;
}
#contactinfo {
  font-family: Audiowide;
  font-size: 30px;
  background-image: linear-gradient(45deg, #ff4000, #ff00d0);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 400px;
  bottom: 180px;
}